
<div ng-controller="FabricsCtrl">
	<div class="container">

<div class="col-md-4">
<!--
<fieldset>

	<div class="btn-group">

		<div  ngf-select ng-model="files" class="btn btn-info up-buttons" ngf-multiple="false"
		ngf-accept="'*.jpg,*.png,*.gif'" ng-model-rejected="rejFiles" tabindex="0" ng-click="addImage()">Attach an Image</div>


	<button type="button" class="btn btn-success"  ng-click="upload(files)" >Save</button>

</div>



<div class="row"></div>
</fieldset>-->
<progressbar ng-model="file"  class="progress-striped active" animate="true" max="100" value="progressPercentage" type="success"><i><span count-to="{{progressPercentage}}" duration="1" count-from="0"></span> / 100</i></progressbar>
<fieldset>
	<progressbar ng-if="files" class="progress-striped active" max="100" value="progressPercentage" type="danger" ng-model="files">{{progressPercentage}}%</progressbar>

<!-- form -->
<div ng-if="files" ng-controller="FabricsCtrl" ng-model="formModel">{{progressPercentage}}%</div>
<div ng-controller="FabricsCtrl">
    <form sf-schema="schema" sf-form="form" sf-model="formModel" name="theForm" ng-submit="upload(files)"
		sf-options="{ formDefaults: { ngModelOptions: { updateOn: 'blur' } }}">
	<!--	<button type="button" class="btn btn-success"  ng-click="upload(files)" ng-disabled="theForm.$invalid">Save</button>-->
		</form>


</div>


<!-- end form -->
</fieldset>
</div>


	<div class="col-md-8">
		<fieldset>


		<div class="canvas drop-box" ng-model="files" ngf-drop ngf-drag-over-class="dragover" ngf-multiple="false" ngf-allow-dir="false"
		ngf-accept="'.jpg,.png,.gif'" ngf-change="addImage()">


			  <div class='image-builder' ><p ng-if="!files" style="background: white; padding:35px; margin:0px;">Drop Image here </p>
          <div class='fabric-container'>
            <canvas fabric='fabric'  ngf-accept="'image/*'" id="theCanvas"></canvas>
          </div>
        </div>
		</div>


<div ng-show="files[0].type.indexOf('image') > -1">{{files[0].name}}</div>
	</fieldset>
	</div>



</div>
</div>
