
<div ng-controller="FabricsCtrl">
	<div class="container">

<div class="col-md-4">
<!--
<fieldset>

	<div class="btn-group">

		<div  ngf-select ng-model="files" class="btn btn-info up-buttons" ngf-multiple="false"
		ngf-accept="'*.jpg,*.png,*.gif'" ng-model-rejected="rejFiles" tabindex="0" ng-click="addImage()">Attach an Image</div>


	<button type="button" class="btn btn-success"  ng-click="upload(files)" >Save</button>

</div>



<div class="row"></div>
</fieldset>-->

<fieldset>
<!-- form -->

<div ng-controller="FabricsCtrl">
    <form sf-schema="schema" sf-form="form" sf-model="formModel" name="theForm" ng-submit="upload(files)"
		sf-options="{ formDefaults: { ngModelOptions: { updateOn: 'blur' } }}" >
		</form>
</div>


<!-- end form -->
</fieldset>
</div>


	<div class="col-md-8">
		<fieldset>


		<div class="canvas drop-box" ng-model="files" ngf-drop ngf-drag-over-class="dragover" ngf-multiple="false" ngf-allow-dir="false"
		ngf-accept="'.jpg,.png,.gif'" ngf-change="addImage()">


			  <div class='image-builder' ><p ng-if="!imageSet" style="background: white; padding:35px; margin:0px;">Drop Image here!! </p>
          <div class='fabric-container'>
            <canvas fabric='fabric'  ngf-accept="'image/*'" id="theCanvas"></canvas>
          </div>
        </div>
		</div>


<div ng-if="filename">{{filename}}</div>
	</fieldset>
	</div>



</div>
</div>
